body {
    background: linear-gradient(90deg, black, rgb(9, 68, 97), black);
}

#calculator-container {
    display: flex;
    flex-direction: column;
}

#calculator {
    background-color: black;
    width: 350px;
    height: 600px;
    margin: 50px auto;
    border-width: 15px 6px;
    border-style: solid;
    border-top-color: rgb(43, 43, 43);
    border-left-color: rgb(60, 60, 60);
    border-bottom-color: rgb(10, 10, 10);
    border-right-color: rgb(20, 20, 20);
}

.silver {
    background-color: rgb(220, 220, 220);
}

#top-banner {
    height: 100px;
    display: flex;
    border-style: solid;
    border-width: 2px 10px 0px;
    border-left-color: rgb(232, 232, 232);
    border-right-color: rgb(215, 215, 215);
}

#top-banner > div {
    margin: auto;
}

#display {
    height: 200px;
    border-style: solid;
    border-width: 0px 10px;
    border-left-color: rgb(20, 20, 20);
    border-right-color: rgb(10, 10, 10);
    color: rgb(0, 255, 234);
    font-family: 'Calculator', sans-serif;    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#keypad {
    height: 300px;
    border-style: solid;
    border-width: 0px 10px 2px;
    border-left-color: rgb(232, 232, 232);
    border-right-color: rgb(215, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#casio {
    font-family: 'Eurostile';
    font-weight: bold;
    font-size: 30px;
}

#faux {
    font-family: "Cormorant Upright", serif;
    font-style: italic;
    font-size: 50px;
    vertical-align: 3%;
    font-weight: 300;
    margin-left: 10px;
}

.display-row {
    margin-right: 30px;
    align-self: flex-end;
}

#row-1 {
    font-size: 20px;
    margin-bottom: 30px;
}

#row-2 {
    font-size: 30px;
    height: 34.545px;
}

.keypad-row {
    display: flex;
    justify-content: space-evenly;
}

.keypad-button {
    width: 50px;
    height: 40px;
    font-size: 20px;
    border-width: 5px;
    border-radius: 10%;
}

#exp {
    padding-left: 0.5px;
}

.black {
    background-color: black;
    color: white;
}

.orange {
    background-color: rgb(255, 191, 0);
    color: white;
}

.grey {
    background-color: rgb(122, 122, 122);
    color: white;
}

#link-container {
    display: flex;
    justify-content: center;
}

#github-link {
    margin-top: -40px;
    color: white;
    font-family: 'Calculator', sans-serif;
}

a:link {
  color: white;
  background-color: transparent;
}

a:visited {
  color: white;
  background-color: transparent;
}

a:hover {
  color: red;
  background-color: transparent;
}